/node_modules
/resources/assets/sass/.idea
/public/hot
/public/storage
/public/recipes
/public/js/tinymce/src
/storage/*.key
/storage/medialibrary/

/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/styleguide

public/js/toasty

config\.nucleus\.json
/public/css/app.css
/public/js/app.js
/public/recipes/
storage/medialibrary