.autocomplete {
  position: relative;
  width: 130px;
}

.autocomplete-results {
  padding: 0;
  margin: 0;
  border: 1px solid #eeeeee;
  min-height: 1px;
  overflow: auto;
  position: absolute;
  background: white;
  min-width: 30%;
  -webkit-border-radius: 0 0 25px 25px;
  border-radius: 0 0 25px 25px;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 0.4rem 1rem;
  cursor: pointer;
}

.autocomplete-result:hover {
  background-color: #4AAE9B;
  color: white;
}

li.autocomplete-result.is-active {
  background: $accent;
  color: white;
}
