
html, body {
  height: 100%;
  box-sizing: border-box;
  background-color:$body-bg;
}
body, button, input, select, textarea{
  font-family:$typocontent;
}

.is-fullwidth, .is-fullwidth select {
  width:100%;
}
.blockcontent{
  background: $white;
  padding: 2rem;
  margin-top: 2rem;
}

.image.is-256x256 {
  height: 256px;
  width: 256px;

}

.is-accent{
  color:$accent;
}

.is-brand{
  color:$brand-primary;
}


/*
.is-centered {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display:flex;justify-content:center;align-items:center;
}*/
