/*p {
  padding-bottom: 1rem;
}*/

html, body {
  height: 100%;
  box-sizing: border-box;
  background-color: $body-bg;
}

body, button, input, select, textarea {
  font-family: $typocontent;
}

.is-fullwidth, .is-fullwidth select {
  width: 100%;
}

.blockcontent {
  background: $white;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.05), 0 1.5px 6px rgba(0, 0, 0, 0.052);
  -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.05), 0 1.5px 6px rgba(0, 0, 0, 0.05);
}

.searchresult {
  background: $white;
  padding-top: 2rem;
  margin-top: 2rem;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.05), 0 1.5px 6px rgba(0, 0, 0, 0.052);
  -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.05), 0 1.5px 6px rgba(0, 0, 0, 0.05);
}

.results {
  background: $body-bg;
}

.not-active {
  display: none;
  visibility: hidden;
  height: 0px;
}

.active {
  display: block;
  visibility: visible;
  height: initial;
}

.likedanimation {

  -webkit-animation: pulse;
  animation: pulse;
  animation-duration: .55s;

}

a.tag.like:hover {
  text-decoration : none;
}
// LIKE BUTTON
.liked > i {
  color: #fa3283;
}

.liked > span > i {
  color: #fa3283;
}

// IMAGE HAND

.image.is-256x256 {
  height: 256px;
  width: 256px;

}

// NAVBAR
.navbar-item.has-dropdown.is-hoverable {
  z-index: 800;
  @include transition_all();
}

.content li + li {
  margin-top: 0em;
}

h1, h2, h3, h4, h5, h6 {
  color: $brand-primary;
}

.section-nomargin-side {
  padding: 2.5rem 1rem;
}

.hero-body {
  padding: 2rem 1.5rem;
}

.is-accent {
  color: $accent;
}

.breadcrumb:not(:last-child) {
  margin-bottom: .5rem;
}

.is-brand {
  color: $brand-primary;
}

.container .navbar-brand {
  margin-left: 0 !important;
}


[v-cloak] {
  display: none;
}

.button.is-round.is-small {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.recipeaddbg {
  padding-top: 2rem;
}

.block {
/*  background: rgba(255, 0, 0, 0.3);
  border: 2px solid green;*/
}
.advanced {
  padding: 2rem;
}
.univers_element {
  display: block;
  margin: 1%;
  background: white;
  margin-top: 0%!important;
}

.categ_univers_recette {
  background: #ebeaf5;
}


.radiused {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.navbar-item.user_profile img {
max-height: initial!important;
}


.change-picture {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 99;
  background: hsla(245, 35%, 94%, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #6c548f;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  min-height: 64px;
  min-width: 64px;
  top: 25%;
  left:25%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.image:hover {
  cursor: pointer;
  & > .change-picture {
    opacity: 1;
    visibility: visible;
  
  }
  & img {
    opacity:0.8;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

figure.image img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sous_cat {
  margin-bottom: 2rem;
}

nav.breadcrumb {
  padding: 1rem;
}

