
.sharing {
  position: relative;
  display: inline-block;
  @include transition_all();
}

.sharing:hover > .sharing-block {
  display: block;
  position: absolute;
  z-index: 999;
  opacity: 1;
  visibility: visible;
  padding-top: 0.5rem;
  @include transition_all();
}

.facebook:hover {
  border-color: #3B5998;
  i {
    color: #3B5998;
  }
}

.twitter:hover {
  border-color: #1DA1F3;
  i {
    color: #1DA1F3;
  }
}

.pinterest:hover {
  border-color: #BD081B;
  i {
    color: #BD081B;
  }
}

.tumblr:hover {
  border-color: #35455C;
  i {
    color: #35455C;
  }
}

a.like {
  background-color: #FCBEE1;
  border-radius: 100%;
  border: 0px solid white;
  color:white;
  height:2rem;
  width:2rem;
  @include transition_all();

  &:hover {
    color:white;
    box-shadow: 0 0 15px 0px #7f5fbf;
    -webkit-box-shadow: 0 0 15px 0px #7f5fbf;
    @include transition_all();

  }
}

a.print {
  background-color: #CBC2F6;
  border-radius: 100%;
  border: 0px solid white;
  margin-left: 1rem;
  color:white;
  @include transition_all();
  &:hover {
    color:white;
    box-shadow: 0 0 15px 0px #7f5fbf;
    -webkit-box-shadow: 0 0 15px 0px #7f5fbf;
    @include transition_all();
  }
}
