a {
  color: $lavender;
  cursor: pointer;
  text-decoration: none;
}

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $violet;

/**
 * Set the Conviction font face
 * @nuclide
 * @section Fonts
 *  The font weight to be used.
 */

// Hard rules
//
// Style guide: hard-rule

$typotitle : "Conviction",Tahoma, Geneva, sans-serif;

/**
 * Set the Avenir font face
 * @nuclide
 * @section Fonts
 *  The font weight to be used.
 */
$typocontent : "AvenirMedium", Arial, Helvetica, sans-serif;


@font-face {
  font-family: 'AvenirBlack';
  src: url('../fonts/avenir-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirMedium';
  src: url('../fonts/avenir-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirBook';
  src: url('../fonts/avenir-book-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirHeavy';
  src: url('../fonts/avenir-heavy-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirRoman';
  src: url('../fonts/avenir-roman-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conviction";
  src: url("../fonts/Conviction.ttf") format("truetype");
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/futur.ttf") format("truetype");
}
//404 page
@font-face {
  font-family: "EurostileBQ";
  src: url("../fonts/EurostileBQ-BoldExtended.otf") format("opentype");
}

h1, h1.title {
  font-size:2rem;
}
h2, h2.title {
  font-size:1.6rem;
}
h3, h3.title {
  font-size:1.4rem;
}
h4, h4.title {
  font-size:1.2rem;
}
h5, h5.title {
  font-size:1.1rem;
}
h6, h6.title {
  font-size:1.05rem;
}

.content h1,  h1.title{
  color: $accentsecondary;
}
h2.title{
  color: $accentsecondary;
}

.category-split {
  border-bottom: 1px solid #ebeaf5;
  padding-bottom: 1rem!important;
  padding-top: 0.5rem;
}

.home-text {
  color: #7f5fbf;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  font-family: 'AvenirMedium', sans-serif;
  
}

h1.title-website {
  font-family: "Conviction", Arial, serif;
  color: $brand-primary;
  font-weight: normal;
  font-size: 2.2rem;
}

h2.title-mini {
  color: $gris_granite;
  font-size:1.4rem;
}

.content-title {
  font-family: 'AvenirMedium';
  font-weight: 500;
  font-size: 1.2rem;
  color:$brand-primary;
  padding: 0.5rem;
}

span.ingredient-title{
  font-weight: 900;
  font-size: 16px;
  text-align: left;
  color: #fe688e;
  text-transform : uppercase;
}