
.onboard_login{
  display: flex;
  position: relative;
  height: 100%;
}

.left_login_side {
  background: url("/img/bg_space/Asset_1.png") repeat;
  background-position-y: -5px;
  display:flex;justify-content:center;align-items:center;
}
.right_login_side{
  min-height:92vh;
}