
.logo{
  font-family: $typotitle;
  font-size:2rem;
  color:$brand-primary;
  padding: 0.5rem 1rem;
}



.navbar-dropdown {
  background-color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top: 0px solid $brand-primary;
  -webkit-box-shadow: 0 2px 2px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.1);
  border-right: 0.5rem solid $brand-primary;
  border-bottom: 0.5rem solid $brand-primary;


}

/*  .navbar-link::after {
    border: 1px solid #fbfdfa;
    border-right: 0;
    border-top: 0;
  }*/



a.navbar-item , a.navbar-link {
  color:$brand-primary;
  font-size: 1.1rem;
}



.navbar {
    &:after{
      content: '';
      display: block;
      height: 0.5rem;
      //background: linear-gradient(to left, #ffc914 0%,#fe296d 9%,#7f5fbf 50%);
      background: $brand-primary;
      width: 100%;
      position: absolute;
      top: 4rem;
    }
}

.search_header {
  text-align: right;
  display: table-cell;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchheadbutton{
  position: absolute;
  right: 2rem;
  top:33%;
}
