
.logo{
  font-family: $typotitle;
  font-size:2rem;
  color:$white;
  padding: 0.5rem 1rem;
}



nav.navbar, .navbar-dropdown, a.navbar-item, a.navbar-link {
  background: $brand-primary;
}
a.navbar-item , a.navbar-link {
  color:$white;
}

.search_header {
  text-align: right;
  display: table-cell;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchheadbutton{
  position: absolute;
  right: 2rem;
}
