.left_register {
  margin-top:12%;

  &:before{
    content: "";
    display: block;
    background: #7f5fbf;
    position: absolute;
    width: 40%;
    height: 85%;
    z-index: 0;
    top: 8%;
    left: 10%;
    margin-top: 2rem;
    -webkit-border-radius: 15px 0 0 15px;
    border-radius: 15px 0 0 15px;
  }
}