
/** @color Body background */
$body-bg: #ebeaf5;

/**
 * White
 * @color
 * @section Grayscale
 */
$white : white;
/**
 * Not so white
 * @color
 * @section Grayscale
 */
$antiwhite : #f3f3f3;
/**
 * Cut white
 * @color
 * @section Grayscale
 */
$blanc_casse: rgba(183, 173, 153, 1);
/**
 * Grey
 * @color
 * @section Grayscale
 */
$gris : #898989;
/**
 * Brown grey
 * @color
 * @section Grayscale
 */
$gris_granite : #524d55;
/**
 * Black
 * @color
 * @section Grayscale
 */
$blck: rgba(3, 3, 1, 1);

$eerieblck : $gris_granite;



// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;



// Brands

/**
 * @color Brand Violet
*/
$violet : #7f5fbf;
$brand-primary: $violet;
/**
 @color Accent Purple */
$accent : #4c6ee6;
/**
 * @nuclide
 @color Accent Pink */
$pink : #fe688e;
$accentsecondary : $pink;

/**
 * Info
 * @color PaleBlue
 * @section Background informations
 */
$brand-info: #8fb8de;

/**
 * Success
 * @color Green
 * @section Background informations
 */
$brand-success: #2ab27b;
/**
 * Warning
 * @color Yellow
 * @section Background informations
 */
$brand-warning: #ffc145;
/**
 * Danger
 * @color Red
 * @section Background informations
 */
$brand-danger: #ff6b6c;



$comp-green : #76db8e;
$violet-txt : #47424a;

