

// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #6c548f;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #E1334E;

$white : white;


$violet : #6C548F;
$comp-green : #76db8e;
$violet-txt : #47424a;
$vert : #019341;
$rouge : #E1334E;
$orange : #F59B1A;


// Charte graphique

/* Coolors Exported Palette - coolors.co/e63946-f1faee-6c548f-b7ad99-030301 */

/* HSL */
$red: hsla(355%, 78%, 56%, 1);
$greenlight: hsla(105%, 55%, 96%, 1);
$violet: hsla(264%, 26%, 45%, 1);
$blanc_casse: hsla(40%, 17%, 66%, 1);
$blck: hsla(60%, 50%, 1%, 1);

/* RGB */
$red: rgba(230, 57, 70, 1);
$greenlight: rgba(241, 250, 238, 1);
$violet: rgba(108, 84, 143, 1);
$blanc_casse: rgba(183, 173, 153, 1);
$gris : #d8d8d8;
$blck: rgba(3, 3, 1, 1);


  // Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

$typotitle : "Conviction",Tahoma, Geneva, sans-serif;
$typocontent : "AvenirMedium", Arial, Helvetica, sans-serif;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;

$taille_minimale_photo : 640px;