
// Fonts
@import url("https://fonts.googleapis.com/css?family=Karla:300,400,600");

// Variables
@import "variables";

$primary: $violet;
$danger : $rouge;
$success : $vert;
$warning : $orange;



// BULMA
@import "~bulma/bulma";

@import "~bulma-extensions/extensions";


// TYPOS
@import "general/typo";

// GENERAL
@import "general/general";

// partner
@import "general/partner";

// LOGIN
@import "content/login";

// FOOTER
@import "content/footer";

// MENU

@import "content/menu";



/// RECIPES ADD

@import "content/recipe/add";
@import "content/recipe/show";
@import "content/register";
@import "content/recipe/result";

// Input button add
@import "content/icons";

@import "general/toast";

@import "general/anim";

