
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

/*

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";*/

@import "~bulma/bulma";

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir.ttc") format("ttc");
}

@font-face {
  font-family: "Conviction";
  src: url("/fonts/Conviction.ttf") format("ttf");
}

.logo{
  font-family: "Conviction", sans-serif;
  font-size:2rem;
}



