.card-cdg {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}

p.card-header-title {
  display:flex;justify-content:center;align-items:center;
}

.columns.mini-infos {
  font-size:0.8rem;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
}

section.bgwhite {
  background : white;
}

.recipe-index-description {
  background: white;
  width: 90%;
  border: 0px solid #ccc;
  padding: 23px 22px 15px 22px;
  margin: 0 auto!important;
  position: relative;
  top: -2rem;
  min-height: 10rem;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}


.img-radius {
  @apply rounded-sm;
}

