.bordered-cdg {
  /*  border: 1px solid $brand-primary;*/
  padding: 1rem;
}

.round_bg {
  margin-top: 2rem;
  background: white;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.is-result {
  background: #FAFAFA;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-right: 1rem;
}

.content figure {
  margin-left: 0px;
  margin-right: 0px;
}

.card.cdg {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0.5rem solid #f3f2fd;
  border-radius: 5px;
}

.indexrecipe {
  padding-top: 2.5rem;
}

.show-recipe-title {
  padding-bottom: 0.3rem;

}

.dollar {
  color: $accentsecondary;
  font-weight: bold;
  font-size: 1.3rem;
}

.ficheinfo {
  //margin-top: 2rem;
  //padding: 0.5rem;
  //border: 1px solid #b6c2d9;
  //border-radius: 5px;
  //background: lighten($body-bg, 2.1);
}

.dollar_null {
  color: white;
  text-shadow: 2px 0 0 lighten($brand-primary, 20), -2px 0 0 lighten($brand-primary, 20), 1px 1px 0 lighten($brand-primary, 20);
  font-weight: bold;
  font-size: 1.3rem;
}

.fb-commentaire {
  border: 2px solid $body-bg;
  padding: 1rem;
}

.dollarsum {
  padding-left: 1rem;
}

.full-circle {

  @include transition_all();

  &.easy {
    &:hover {
      color: $brand-success;
      border-color: $brand-success;
    }
  }
  &.mid {
    &:hover {
      color: $brand-warning;
      border-color: $brand-warning;
    }

  }
  &.hard {
    &:hover {

      color: $brand-danger;
      border-color: $brand-danger;
    }
  }

  &:hover {
    @include transition_all();
  }
}

.step {
  margin-bottom: 1.2rem;
  padding: 0.5rem;
}

.shadowbox {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.05), 0 1.5px 6px rgba(0, 0, 0, 0.052);
  -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.05), 0 1.5px 6px rgba(0, 0, 0, 0.05);
  background: white;

}

.rating img {
  max-width: 19px;
}

.list-h-show {
  background: #E5E1FB;
  border-radius: 0px;
  border: 0px solid #f5f5f5;
}

.step .column.is-1 {
  font-size: 1.2rem;
  color: $brand-primary;
  background: lighten($body-bg, 2.1);
  -webkit-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;

  &::after {
    content: " ";
    position: absolute;
    /*white-space: pre;*/
    -moz-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    margin-top: 0.2rem;
    font-size: 2rem;
  }
}

.step .is-lateral {
  border-right: 1px solid #f3f2fd;
  border-top: 1px solid #f3f2fd;
  border-bottom: 1px solid #f3f2fd;
  -webkit-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}

.fa-facebook-official, .fa-twitter, .fa-tumblr, .fa-pinterest-p {
  font-size: 1.5rem !important;
}

