.button_picture, a.button_picture {
  background: #ebeaf5;
  color: $brand-primary;
  margin-top:2vh;
  &:hover {
    background: $brand-primary;
    color:#e5e1fb;
  }
}

.hover_pointer {
  &:hover {
    cursor:pointer;
  }
}

