
.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $eerieblck;
  text-align: center;
  color: white;
  margin-top: 2rem;
  bottom: 0;
  width: 100%;
  min-height: 50px;

}


footer {
  background: $eerieblck;
}
