#app {
  min-height: 100%;
  position: relative;
  //padding-top: 4rem;
}


.navbar {
  width: 100%;
  top: 0;
  z-index: 901;
  @include transition_all();
  //position: fixed;
}

.second_menu {
  background: $body-bg;
  //border-bottom: 0.1rem $brand-primary solid;
  -webkit-box-shadow: -1px -2px 8px 0 $brand-primary;
  box-shadow: -1px -2px 8px 0 $brand-primary;
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
  color: $accentsecondary;
}


span.item_navbar_second {
  padding-left: 1rem;
}

.nav-item-centered {
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}


.logo {
  font-family: $typotitle;
  font-size: 2rem;
  color: $brand-primary;
  padding: 0.5rem 1rem;
  @include transition_all();
  
  &:hover {
	@include transition_all();
  }
}

.bg_side {
  /* background: #ffffffb8; */
  padding: 1rem 0.5rem 0.5rem;
  /* -webkit-border-radius: 5px; */
  /* border-radius: 5px; */
  margin-top: 5%;
  border-top: 3px solid #ebeaf5;
  &.pub {
      background: #ebeaf5;
      -webkit-border-radius: 20px 40px 20px 40px;
      border-radius: 20px 40px 20px 40px;
      text-align: center;
  }
}



.navbar-dropdown {
  padding-top: 0px;
  background-color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top: 0px solid $brand-primary;
  -webkit-box-shadow: 0 2px 2px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.1);
  border-right: 0.5rem solid $brand-primary;
  border-bottom: 0.5rem solid $brand-primary;
  @include transition_all();
  
  @include sm_1 {
    //display: none;
  }
  
}


a.navbar-item, a.navbar-link {
  color: $brand-primary;
  font-size: 1.1rem;
  @include transition_all();
}


.search_header {
  text-align: right;
  display: table-cell;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchheadbutton {
  position: absolute;
  right: 2rem;
  top: 35%;
  background: transparent;
  border: 0px;
  cursor: pointer;
  
  &:hover {
	color: $brand-primary;
  }
}
