#app {
  min-height: 100%;
  position: relative;
  //padding-top: 4rem;
}


.navbar {
  width: 100%;
  top: 0;
  z-index: 901;
  @include transition_all();
  //position: fixed;
}

.sticky {
  box-shadow: 0 0 5px 9px #6C548F;
  -webkit-box-shadow: 0 0 5px 9px #6C548F;
  @include transition_all();

}



.logo {
  font-family: $typotitle;
  font-size: 2rem;
  color: $brand-primary;
  padding: 0.5rem 1rem;
  @include transition_all();

  &:hover {
    @include transition_all();
  }
}

.navbar-dropdown {
  padding-top: 0px;
  background-color: white;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top: 0px solid $brand-primary;
  -webkit-box-shadow: 0 2px 2px rgba(10, 10, 10, 0.1);
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.1);
  border-right: 0.5rem solid $brand-primary;
  border-bottom: 0.5rem solid $brand-primary;
  @include transition_all();
}



a.navbar-item, a.navbar-link {
  color: $brand-primary;
  font-size: 1.1rem;
  @include transition_all();
}

.navbar {
  &:after {
    content: '';
    display: block;
    height: 0.5rem;
    background: linear-gradient(to left, $brand-primary 0%, lighten($brand-primary, 10%) 30%, lighten($brand-primary, 10%) 60%, $brand-primary 100%);
    //background: $brand-primary;
    width: 100%;
    position: absolute;
    top: 4rem;
  }
}

.search_header {
  text-align: right;
  display: table-cell;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchheadbutton {
  position: absolute;
  right: 2rem;
  top: 35%;
  background: transparent;
  border: 0px;
  cursor: pointer;
  &:hover {
    color: $brand-primary;
  }
}
