.left_register {
  margin-top: 12%;

  &:before {
    content: "";
    display: block;
    //background: #7f5fbf;
    background: linear-gradient(to left, $brand-primary 0%, lighten($brand-primary, 10%) 30%, lighten($brand-primary, 10%) 60%, $brand-primary 100%);

    position: absolute;
    width: 40%;
    height: 85%;
    z-index: 0;
    top: 8%;
    left: 2%;
    margin-top: 2rem;
    border-radius: 15px 0 0 15px;
  }
  @include md_1 {
    &:before {
      content: "";
      display: none;
    }
  }
}

// Cat picture
.chat_hover {

  z-index: 17;
  @include lg {
    z-index: 17;
    position: absolute;
    width: 42%;
    left: 3%;
    top: 10%;
  }

  @include md{
    position: absolute;
    width: 42%;
    top: 15%;
    left: 2%;
  }
}
