
.ajout_recette_img {
  /* width: 200px; */
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(40, 17%, 95%, 1);
  border: 2px dashed $violet;

}
.file-cta.darker{
  color:$text-color;
}
.field.addphoto {
  margin-bottom: 2rem;

  padding-top: 2rem;
}
table.bgborder {
  background: transparent;
}

table.bgborder.table td, .table th {
  border:0px;
}

.deleteicon{

  &:hover {
    color:$red;
    border-color: $red;
  }
}

.ajout_recette_img img{
  position: relative;
  z-index: 2;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  max-height: 150px;  max-width:   150px;
  width: auto;
}

.file-cta {
  background-color: transparent;
  color: #ffffff;
  border: 0px solid transparent;
}

input.input_modal{
  background-color: #fbfdfa;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  padding-left: 1rem;

  &:focus{
    border-bottom: 2px solid $accent;
    -webkit-box-shadow: 0 2px 0 0 $accent;
    box-shadow: 0 2px 0 0 $accent;
  }

}

input.input_modal.blck{
  color:$text-color;
}

.padding-sides{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1.5rem;
}

input#prep-heure,  input#prep-minute, input#cook-heure,input#cook-minute, input#rest-heure, input#rest-minute {
  text-align: center;
}

section.ingredients {
  margin-top: 2rem;
}

.columns.timing:before{
  font-family: FontAwesome;
  content: "\F017";
  font-size: 10em;
  position: absolute;
  z-index: -1;
  color: hsla(0, 0%, 100%, 0.2);
  left: 0.1rem;
  transform: rotate(140deg);
}

span.timing, span.parts {
  padding-left: 0.5rem;
}


.field.prep {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:hover  .fa {
    color:$orange;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

}

.field.parts {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:hover  .fa {
    color:$comp-green;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

}


.field.cook  {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:hover  .fa {
    color: $rouge;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.field.sleep {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:hover  .fa {
    color:$violet;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.field.vegan  {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:hover  .fa {
    color: $vert;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.columns.timing {
  margin-top: 1rem;
}

.left_recipe_add{
  background: $antiwhite;
  margin-top: 1rem;z-index: 1;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.column.right_recipe_add {
  padding-top: 3.5rem;z-index: 1;
  padding-left: 2rem;
  background: white;
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.column.steps {
  z-index: 1;
  margin-top: 2rem;
  background: white;
  -webkit-box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.3)
}


.recipeaddbg{

}

.addsteprecipe {
  width: 33%;
  margin-left: 33%;
}

span.ajout-recette-titre{
  color: $text-color;
}
section.ajoutrecipe{
    padding: 3rem 1.5rem 1rem 1.5rem;

}
fieldset.rating {
  float: left;
  border:none
}

.rating > label {
  float:right;
}

.lecout input{
  margin:0;padding:0;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}

.lecout > label {
  cursor:pointer;
}
label.cost.button:hover ~ label.cost, label.cost.button:hover, .lecout > input:checked  label.cost.button:hover{
  background: rgba($vert, 0.9);
  color:white;
}


.lecout input:checked  ~ label.cost, .lecout:not(:checked) > input:hover ~ label {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
  background: rgba($vert, 0.8);
  color: #fbfdfa;
}
