.top{
  max-height: 25%;
  overflow:hidden;
}
.middle{
  margin-top: 1rem;
  max-height: 65%;
  max-height: 4rem;
  min-height: 65%;
  overflow:hidden;
}
.bottom{
  max-height: 25%;
  overflow:hidden;
}
.hovered{
  display: none;

}

.to-hover:hover > .hovered {
  display: block;
  position: absolute;
  z-index: 5;
}