.bordered-cdg{
/*  border: 1px solid $brand-primary;*/
  padding: 1rem;
}

.horizontalover{

  overflow-x: auto;
  padding: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

}

.content figure{
  margin-left:0px;
  margin-right:0px;
}
.card.cdg{
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0.5rem solid #f3f2fd;
  border-radius: 5px;
}
.medaillon{
  position: absolute;
  margin: auto;
  top: 50%;
  left: 35%;
}

.indexrecipe{
  padding-top: 2.5rem;
}

.is-centered{
  text-align: center;
}