.bordered-cdg{
  /*  border: 1px solid $brand-primary;*/
  padding: 1rem;
}

.horizontalover{

  overflow-x: auto;
  padding: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

}

.content figure{
  margin-left:0px;
  margin-right:0px;
}
.card.cdg{
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0.5rem solid #f3f2fd;
  border-radius: 5px;
}
.medaillon{
  position: absolute;
  margin: auto;
  top: 50%;
  left: 35%;
}

.indexrecipe{
  padding-top: 2.5rem;
}

.is-centered{
  text-align: center;
}

.show-recipe-title{
  padding-bottom: 0.3rem;

}
.is-flex-center{
  display:flex;justify-content:center;align-items:center;
}

.dollar {
  color: $accent;
  font-weight: bold;
  font-size: 1.3rem;
  padding-right: 0.5rem;
}

.dollar_null {
  color:white;
  text-shadow: 2px 0 0 lighten($brand-primary,20), -2px 0 0 lighten($brand-primary,20),1px 1px 0 lighten($brand-primary,20) ;
  font-weight: bold;
  font-size: 1.3rem;
}

.full-circle {
  background-color: rgba(204, 0, 102, 0);
  border: 3px solid #333;
  height: 2rem;
  width: 2rem;
  -moz-border-radius: 10rem ;
  -webkit-border-radius: 10rem;
  line-height: 1.6rem;

  &.easy{
    color:$vert;
    border-color:$vert;
  }
  &.mid{
    color:$orange;
    border-color:$orange;
  }
  &.hard{
    color:$rouge;
    border-color:$rouge;
  }
}

.step {
  margin-bottom: 1.2rem;
  padding:0.5rem;
}
.column.is-1{

  font-size: 2rem;
  color: $brand-primary;
  background: $body-bg;
  -webkit-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;

  &::after{
    content : " ";
    position: absolute;
    /*white-space: pre;*/
    -moz-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    margin-top: 0.2rem;
    font-size: 2rem;
  }
}

.is-lateral{
  border-right: 1px solid #f3f2fd;
  border-top: 1px solid #f3f2fd;
  border-bottom: 1px solid #f3f2fd;
  -webkit-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}

span.step{
}


