.bordered-cdg{
  /*  border: 1px solid $brand-primary;*/
  padding: 1rem;
}

.horizontalover{

  overflow-x: auto;
  padding: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

}

.breadbg{
  margin-top: 2rem;
  background: white;
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.medail {
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.is-result {
  background: #FAFAFA;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-right: 1rem;
}


.content figure{
  margin-left:0px;
  margin-right:0px;
}
.card.cdg{
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0.5rem solid #f3f2fd;
  border-radius: 5px;
}
.medaillon{
  position: absolute;
  margin: auto;
  top: 56%;
  left: 40%;
}

.indexrecipe{
  padding-top: 2.5rem;
}

.is-centered{
  text-align: center;
}

.show-recipe-title{
  padding-bottom: 0.3rem;

}
.is-flex-center{
  display:flex;justify-content:center;align-items:center;
}

.dollar {
  color: $accentsecondary;
  font-weight: bold;
  font-size: 1.3rem;
}

.ficheinfo{
  margin-top: 2rem;
  padding: 0.5rem;
  border: 1px solid #b6c2d9;
  border-radius: 5px;
  background: lighten($body-bg,2.1);
}

.dollar_null {
  color:white;
  text-shadow: 2px 0 0 lighten($brand-primary,20), -2px 0 0 lighten($brand-primary,20),1px 1px 0 lighten($brand-primary,20) ;
  font-weight: bold;
  font-size: 1.3rem;
}

.fb-commentaire{
  border:0.5rem solid $accent;
  -webkit-box-shadow: 7px 7px 0 0 $accent;
  box-shadow: 7px 7px 0 0 $accent;
  padding: 1rem;
}

.dollarsum{
  padding-left: 1rem;
}
.full-circle {
  height: 2rem;
  width: 2rem;
  -moz-border-radius: 10rem;
  -webkit-border-radius: 10rem;
  line-height: 1.6rem;
  margin-left: 0.5rem;

  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;

  &.easy{
    &:hover{
      color:$vert;
      border-color:$vert;
    }
  }
  &.mid{
    &:hover{
      color:$orange;
      border-color:$orange;
    }

  }
  &.hard{
    &:hover{

      color:$rouge;
      border-color:$rouge;
    }
  }

  &:hover{
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
}

.step {
  margin-bottom: 1.2rem;
  padding:0.5rem;
}

.page {
  background: #fdfdfd;
  padding:2.5rem;
}
.shadowbox{
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.05), 0 1.5px 6px rgba(0, 0, 0, 0.052);
  -webkit-box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.05), 0 1.5px 6px rgba(0, 0, 0, 0.05);
  background: white;

}
.rating img {
  max-width:19px;
}
span.star{
  //padding-right: 0.3rem;
}
.greyed {
  -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
  filter: grayscale(70%);
  &:hover{
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
  }
}
.list-h-show{
  background: #E5E1FB;
  border-radius: 0px;
  border:0px solid #f5f5f5;
}
.step .column.is-1{

  font-size: 1.2rem;
  color: $brand-primary;
  background: lighten($body-bg,2.1);
  -webkit-border-radius: 10px 0 0 10px;
  border-radius: 10px 0 0 10px;

  &::after{
    content : " ";
    position: absolute;
    /*white-space: pre;*/
    -moz-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    margin-top: 0.2rem;
    font-size: 2rem;
  }
}

.step  .is-lateral{
  border-right: 1px solid #f3f2fd;
  border-top: 1px solid #f3f2fd;
  border-bottom: 1px solid #f3f2fd;
  -webkit-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}

span.step{
}

.fa-facebook-official, .fa-twitter, .fa-tumblr, .fa-pinterest-p {
  font-size: 1.5rem!important;
}

table.times th{
  padding-right: 0.5rem;
}


.is-marginmore{
  margin-left: 2rem;
  margin-right: 2rem;
}